<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.edu.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.njust.edu.entity.Menu" >
    <id column="food_id" property="foodId" jdbcType="INTEGER" />
    <id column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    food_id, restaurant_id, name, price, discount, description, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.njust.edu.entity.MenuKey" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where food_id = #{foodId,jdbcType=INTEGER}
      and restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </select>
  <select id="selectByRestaurant" resultType="com.njust.edu.entity.Menu">
    select
    food_id,name,price,discount,description,type
    from menu
    where restaurant_id=#{restaurantId,jdbcType=INTEGER}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.njust.edu.entity.MenuKey" >
    delete from menu
    where food_id = #{foodId,jdbcType=INTEGER}
      and restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njust.edu.entity.Menu" >
    insert into menu (food_id, restaurant_id, name, 
      price, discount, description, 
      type)
    values (#{foodId,jdbcType=INTEGER}, #{restaurantId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.edu.entity.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.edu.entity.Menu" >
    update menu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=INTEGER}
      and restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.edu.entity.Menu" >
    update menu
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where food_id = #{foodId,jdbcType=INTEGER}
      and restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
</mapper>